.ourWorkDetail__container{
   /* width: 100%; */
   display: flex;
   flex-direction: column;
   /* background-color: #f7fcff */
background-color: yellow;
 left: 200px;
}
.ourWorkDetail__container > img {
 height: 300px;
  /* width: 100%; */
  object-fit: contain;
  margin-bottom: 15px;
}
.ourWorkDetail__content{
 max-width: 400px;
  height: 80px;
  text-align: center;
}

.ourWorkDetail__title{

}

/* .ourWorkDetail__description{
     max-width: 200px;
  height: 80px;
  text-align: center;
} */