.ourWorkDetail__container{
   width: 100%;
   display: flex;
   flex-direction: column;
   /* background-color: #f7fcff */
background-color: yellow;

}
.ourWorkDetail__container > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.ourWorkDetail__content{

}



.ourWorkDetail__description{
     max-width: 570px;
  height: 80px;
}