.ourWorkDetail__container{
   display: flex;
   flex-direction: column;
 left: 200px;
 margin-left: 25px;
}
.ourWorkDetail__container > img {
 height: 330px;
  object-fit: contain;
  margin-bottom: 15px;
}
.ourWorkDetail__content{
 max-width: 400px;
  height: 230px;
  text-align: center;
 
}

.ourWorkDetail__title{
font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 0.3rem;
}

.ourWorkDetail__description{
   font-size: 1rem;
   line-height: 1.3;

  
}
