.footerMiddle{
display: flex;
justify-content: space-between;
border-bottom: 1px solid #dfdfd7; 
 padding-bottom: 50px;
 padding-top: 20px;
}
.footerMiddle >ul{
    margin-left: -40px;
}
.footerMiddle > ul > li{
    list-style: none;
    color: #71716c;
    font-size: 16px;
}
