.FooterLast__first{
    display:flex;
   justify-content: space-between;
    margin:40px 0;
}
.icons {
    color: #6b6b69;
    margin: 10px;
}
#type {
     padding:12px 10px;
}
#type > option {
    font-size:15px;
}
.footerLast__text{
color: #71716c;
font-size: 15px;
padding-bottom:40px; 
}
