.donateForm__conainer {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;

  align-items: center;
  top: 150px;
  right: 230px;
  position: absolute;
}
.donate__subscription {
  display: inline-block;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
  /* padding:1px 1px; */
  margin-bottom: 20px;
  border: none;
  font-weight: 700;
}
.donate__subscription > button {
  width: 50%;
  height: 40px;
  border: none;
  font-weight: 700;
}
.donate__oneTime {
  background-color: white;
  color: #036;
}
.donate__monthly {
  background-color: #036;
  color: white;
}
.form__wrapper {
  border: 1px solid lightgray;
  border-radius: 15px;
}
.form__header {
  border-bottom: 1px solid #dfdfd7;
  background-color: #f4f5f0;
  padding: 18px 20px;
  font-size: 20px;
  text-align: center;
}
.form__wrapper > form {
    background-color: white;
}
.form__wrapper > form > input{

    margin-top: 10px;
    margin-left: 10px;
width: 98.5px;
padding: 15px 15px;
border: none;
background-color: #e9eae4;
}
