.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}
.nav__white {
  background-color:white;
}
.nav__logo {
  position: fixed;
  left: 100px;
  width: 65px;
  object-fit: contain;
}
.nav__donate {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
