
.ourWork__wrapper{
 background-color: #f7fcff;
 position: relative;
 /* top: 100px; */
 margin-top: -220px;
 padding-top: 15px;
}

.ourWork__ourWork{
  text-align:center;
font-size: 15px;
color: #77a8bb;
margin-top: 30px;
 font-weight: 700;
}
.ourWork__title{
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
right: -400px;
text-align: center;
 width: 600px;
 margin-left: 540px;
 font-weight: 600;
}
.ourWork__row{
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
/* align-items: center; */
/* z-index: 1; */
  /* margin-left: 5px; */
  margin-right: 5px;
   /* background-color: #f7fcff; */
 margin-left: 160px;
 margin-top: 60px;
}
