
.ourWork__wrapper{
 
  
}




.title{
  text-align:center;
font-size: 15px;
color: #77a8bb;
margin-top: 30px;
}
.ourWork__goal{
 
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
right: -400px;
text-align: center;
 width: 600px;
 margin-left: 540px;
 font-family: 700;
}
.ourWork__row{
  /* max-width: 960px; */
  display: flex;
  justify-content: space-between;
align-items: center;
z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  background-color: tomato;
}
